.page {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	background: $bg-pink;

	@media (min-width: 1280px) {
		& {
			background-image: url('../img/banner-bg-lg.png');
			background-position: right -21%;
			background-repeat: no-repeat;
		}
	}
}
